{% raw %}

<script id="adminMainContent" type="text/x-jsrender">
    <section id="asset-list-search">
        <div id="als-gutter">
            <div id="als-supersearch">
                <input type="text" placeholder="{{:placeholder}}" id="als-input" name="txtfilter" style="top:0px; left:6px;" />
            </div>
        </div>
    </section>

    <section id="asset-list-help-nav">
        <nav>
            <ul class="alhn-type" style="width:auto;">
                {{if permissions.accounts=="CRUD"}}<li id="lnkCompany" {{if type=="Company"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_companies.html">Companies</a></li>{{/if}}
                {{if permissions.accounts=="CRUD"}}<li id="lnkAccount" {{if type=="Account"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_accounts.html">Account</a></li>{{/if}}
                {{if permissions.store_groups=="CRUD"}}<li id="lnkStoreGroups" {{if type=="Storegroup"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_storegroups.html">Store groups</a></li>{{/if}}
                {{if permissions.stores=="CRUD" || permissions.stores=="R"}}<li id="lnkStores" {{if type=="Store"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_stores.html">Stores</a></li>{{/if}}
                {{if permissions.store_users == "CRUD"}}<li id="lnkStoreUsers" {{if type=="Storeuser"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_storeusers.html">Store users</a></li>{{/if}}
                {{if permissions.users == "CRUD"}}<li id="lnkUsers" {{if type=="User"}} class="active"{{/if}}><a id="tf-item" href="/pages/administration_users.html">Users</a></li>{{/if}}
            </ul>
            <ul class="alhn-new">
                {{if permissions.accounts=="CRUD"}}{{if type=="Company"}}<li id="lnkNewCompany" style="float:right;"><div id="tf-new-item">+ New Company</div></li>{{/if}}{{/if}}
                {{if permissions.store_groups=="CRUD"}}{{if type=="Storegroup"}}<li id="lnkNewStoreGroup" style="float:right;"><div id="tf-new-item">+ New Store group</div></li>{{/if}}{{/if}}
                {{if permissions.store_users=="CRUD"}}{{if type=="Storeuser"}}<li id="lnkNewStoreUser" style="float:right;"><div id="tf-new-item">+ New Store user</div></li>{{/if}}{{/if}}
                {{if permissions.stores=="CRUD"}}{{if type=="Store"}}<li id="lnkNewStore" style="float:right;"><div id="tf-new-item">+ New Store</div></li>{{/if}}{{/if}}
                {{if permissions.users=="CRUD"}}{{if type=="User"}}<li id="lnkNewUser" style="float:right;"><div id="tf-new-item">+ New User</div></li>{{/if}}{{/if}}
            </ul>
        </nav>
    </section>

    {{if templateEditAccounts}}
    <section id="accountsummary">{{if 1==1 tmpl = templateEditAccounts /}}</section>
    {{else}}
    <section id="asset-overview-sort-list">
        <div id="aosl-gutter">
            <header>
                <ul id="headerRow">
                    {{if 1==1 tmpl = headerRowTemplate /}}
                </ul>
            </header>
            <ul id="aol-center">
                {{if 1==1 tmpl = itemsTemplate /}}
            </ul><!-- aol-center -->
            <footer>
                <span id="aol-show-all"></span>
            </footer>
        </div><!--  aosl-gutter -->
    </section><!-- asset-overview-list -->
    {{/if}}
    <div style="clear:both;height:	30px;"></div>
</script>


<script id="adminDelete" type="text/x-jsrender">
    <li class="aol-edit aactive red">
        <div class="aole-gutter">
            <p class="aole-info"><strong>{{>deletetext}}</strong></p>
            <p class="aole-cancel">Cancel</p>
            <p class="aole-button aole-delete"><input type="image" src="/images/button-red-delete.png" data-itemid="{{:itemid}}" /></p>
        </div>
    </li>
</script>

{% endraw %}